.stats-container {
    display: flex;
}
.statsBar {
    margin: 5px;
    width: 200px;
    height: 40px;
  }

.player-card-container {
    display: flex;
     justify-content: space-evenly; 
}

.player-stats-container {
    color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-headings {
    color: darkblue;
    text-align: center;
}

.stats-text {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
}

.stats-text-label {
    margin: auto 5px;
}