.navigation-bar--text {
    color: white;
    font-size: 32px;
}
.navigation-bar--text:hover {
  text-decoration: none;
  color: blue;
}
.navigation-bar {
  background-size: 12%; 
  height: 100px;
  background-color: #2C3E50;
}

