.stats-container {
    display: flex;
}

.card-container {
    padding: 32px 16px;
    background-color: #ecf0f1;
    margin-bottom: 2pc;
    max-width: 100%;
    flex: 0 0 100%;
}

.statsBar {
    margin: 10px;
    max-width: 75%;
    height: 40px;
  }

.player-card-container {
    display: flex;
    justify-content: space-evenly; 
}

.player-details-container {
    width: 40%;
}

.player-stats-container {
    color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-headings {
    color: darkblue;
    text-align: left;
}

.stats-text {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    margin: auto 5px;
}

.stats-text-label {
    margin: auto 5px;
}

.head-shot { 
    width: 60%;
}