.stats-container {
    display: flex;
}

.card-container {
    padding: 32px 16px;
    background-color: #ecf0f1;
    margin-bottom: 2pc;
    max-width: 60%;
    margin-left: 20%;
}

.statsBar {
    margin: 10px;
    width: 70%;
    height: 40px;
  }

.row-structure {
    flex-wrap: wrap;
}

.player-card-container {
    display: flex;
    justify-content: space-evenly; 
    text-decoration: none !important;
}

.player-details-container {
    width: 60%;
}

.player-stats-container {
    color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-headings {
    color: black;
    text-align: left;
    font-size: 18px;
}

.card-headings--title {
    font-size: 26px;
}

.stats-text {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    margin: auto 5px;
}

.stats-text-label {
    margin: auto 5px;
    width: 50px;
}

.head-shot { 
    width: 180px;
}

.page-label {
    text-align: center;
    opacity: 0.7;
    margin: 20px;
}