.navigationBar-text {
    color: white;
    font-size: 32px;
}

.navigationBar {
  background-color: darkblue;
  background: url(http://content.sportslogos.net/news/2017/07/New-NBA-Logo-1.png) no-repeat center;
  size: 5% 5%;
  background-size: 12%; 
}